#if current_user.admin
  <li class="{% if html_class == 'create_league' %} active {% endif %}">
    <a href="{{url_for('create_league')}}">Create League</a>
  </li>
  <li class="{% if html_class == 'league-list' %} active {% endif %}">
    <a href="{{url_for('league_list')}}">League List</a>
  </li>
#endif
#if current_user.author
    <li><a href="{{ url_for('author_lair',author_id=current_user.user_db.username) }}">My Topics</a></li>
    <li><a href="{{ url_for('author_lair',author_id=current_user.user_db.username) }}#/create">Create Topics</a></li>
#endif
