<ion-view title="GFZ" hide-back-button="true" style="background: #2A8343" hide-nav-bar="true">

    <ion-content has-header="true" padding="true">

        <div class="list list-inset"  style="background: #2A8343">

            <div class="item item-image" style="border:none;margin-top:50px;">
                <img src="img/splash.jpg"/>
            </div>

            <button class="button button-block button-light" ng-click="facebookLogin()">
                <i class="icon ion-social-facebook"></i>
                &nbsp;Login with Facebook
            </button>
            <button class="button button-block button-light" ng-click="googleLogin()">
                <i class="icon ion-social-googleplus"></i>
                &nbsp;Login with Google
            </button>


        </div>

    </ion-content>

</ion-view>