<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">New Comment</h1>
        <button class="button button-clear button-positive" ng-click="closeNewComment()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
        <form ng-submit="createComment(comment)">
            <div class="list list-inset">
                <label class="item item-input">
                    <textarea placeholder="Body" ng-model="comment.body"></textarea>
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">Create Comment</button>
            </div>
        </form>
    </ion-content>

</div>
