<section id="dashboard-view" class="mainbar" data-ng-controller="update_league as vm">
<gf-page-heading title="{{vm.league.name}}" subtitle="Updating {{ vm.league.name }}"></gf-page-heading>
<section class="matter">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="widget wgreen">
<div data-cc-widget-header title="{{vm.title}}" allow-collapse="true"></div>
<div class="widget-content">
<div class="padd">
<div class="row">
<div class="col-md-3">
<div class="gf-teams-pic">
<img class="img-thumbnail img-responsive" data-ng-src="{{vm.league.logo}}" alt="">
</div>
</div>
<div class="col-md-9"> <div class="form quick-post">
<form class="form-horizontal" role="form">
<div class="form-group">
<label for="league-type" class="control-label col-lg-3">League Type:</label>
<div class="col-lg-9">
<select class="form-control" data-ng-model="vm.league.type" id="league-type" data-ng-options="type for type in vm.types">
<option value="">- Choose Type -</option>
</select>
</div>
</div>
<div class="form-group">
<label class="control-label col-lg-3" for="content">Logo</label>
<div class="col-lg-9">
<input focus id="league-name" required type="text" placeholder="League Logo" data-ng-model="vm.league.logo" class="form-control"/>
</div>
</div>
<div class="form-group">
<label class="control-label col-lg-3" for="content">Info</label>
<div class="col-lg-9">
<textarea class="form-control" data-ng-model="vm.league.info" id="content"></textarea>
</div>
</div>
<div class="form-group">
<div class="col-lg-9 col-lg-offset-3">
<button type="submit" class="btn btn-info" data-ng-click="vm.save(vm.league, profileForm)">Submit</button>
<button type="reset" class="btn btn-default">Cancel</button>
</div>
</div>
</form>
</div></div></div>
</div>
</div>
<div class="widget-foot">
<div class="clearfix"></div>
</div>
</div>
</div>
</div>
</div>
</section>
</section>