#extends 'base.html'

#block content
<div class="page-header">
    <h1>{{ title }}</h1>

</div>

<div class="row">
    <div class="span12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="span1">ID</th>
                <th class="span2">Reply</th>
                <th class="span1">User</th>
                <th class="span1">Votes</th>

            </tr>
            </thead>
            <tbody>
            #for reply in replies
            <tr>
                <td>{{ reply.id() }}</td>
                <td>{{ reply.get().body }}</td>
                <td>{{ user }}</td>
                <td>{{ reply.get().vote }}</td>
            </tr>
            #endfor
            </tbody>
        </table>
    </div>
</div>
#endblock